{% load wagtailimages_tags user_agents %}
<style>
    .cards-wrapper {
        display: flex;
        justify-content: center;
    }

    .card img {
        max-width: 100%;
        max-height: 100%;
        object-position: center top ;
    }

    .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
    }

    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: 768px) {
        .card img {
            height: 11em;
        }
    }
</style>

<div id="carouselExampleRide" class="carousel slide cardCaroselCustomContainer">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                {% for card in self.cards.default %}
                <div class="card">
                    {% image card.image fill-400x400 as img %}
                    <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
                    <div class="card-body">
                        <p>default counter {{forloop.counter}}</p>
                        <h5 class="card-title">{{card.title}}</h5>
                        <p class="card-text">{{card.text}}</p>

                        {% if card.button_page %}
                        <a href="{{card.button_page.url}}" class="btn btn-primary">Read More</a>
                        {% elif card.button_url %}
                        <a href="{{card.button_url.url}}" class="btn btn-primary">Read More</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for cardlist in self.cards.others %}
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for card in cardlist %}
                <div class="card">
                    {% image card.image original as img %}
                    <!-- we can controle the image from css -->
                    <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">

                    <div class="card-body">
                        <p>{{forloop.counter}}</p>
                        <h5 class="card-title">{{card.title}}</h5>
                        <p class="card-text">{{card.text}}</p>
                        {% if card.button_page %}
                        <a href="{{card.button_page.url}}" class="btn btn-primary">Read More</a>
                        {% elif card.button_url %}
                        <a href="{{card.button_url.url}}" class="btn btn-primary">Read More</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<script>
    // we can use js to change the div content in mobile view without refreshing the page
    let card_carosel = document.getElementsByClassName('cardCaroselCustomContainer')
    card_carosel = card_carosel[0]
    let flag = true 
    toggleSize()
    window.addEventListener('resize', 
        (e)=>{toggleSize(e)}
    );
    function toggleSize (e=null){
        if (window.innerWidth <= 750 && flag == true) {
            card_carosel.innerHTML = `
            <div class="carousel-inner">
              {% for card in self.cards.default %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                  <div class="card">
                      {% image card.image fill-300x200 as img %}
                      <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
                      <div class="card-body">
                        <p>default counter {{forloop.counter}}</p>
                        <h5 class="card-title">{{card.title}}</h5>
                        <p class="card-text">{{card.text}}</p>
          
                        {% if card.button_page %}
                          <a href="{{card.button_page.url}}" class="btn btn-primary">Read More</a>
                        {%  elif card.button_url %}
                          <a href="{{card.button_url.url}}" class="btn btn-primary">Read More</a>
                        {% endif %}
                    </div>
                  </div>
                </div>
                  {% endfor %}
              {% for cardlist in self.cards.others  %}
              {% for card in cardlist %}
              <div class="carousel-item">
                  <div class="card">
                    {% image card.image fill-300x200 as img %}
                    <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
                    
                    <div class="card-body">
                <p>from others{{forloop.counter}}</p>
                <h5 class="card-title">{{card.title}}</h5>
                <p class="card-text">{{card.text}}</p>
                {% if card.button_page %}
                  <a href="{{card.button_page.url}}" class="btn btn-primary">Read More</a>
                {%  elif card.button_url %}
                  <a href="{{card.button_url.url}}" class="btn btn-primary">Read More</a>
                {% endif %}
              </div>
              </div>
              </div>
              {% endfor %}
                   
              {% endfor %}
              </div>
          </div>
            `
          flag = false
    }
        else if (window.innerWidth > 750 && flag ==false){
            card_carosel.innerHTML = `
            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards-wrapper">
                        {% for card in self.cards.default %}
                        <div class="card">
                            {% image card.image fill-300x200 as img %}
                            <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
                            <div class="card-body">
                                <p>default counter {{forloop.counter}}</p>
                                <h5 class="card-title">{{card.title}}</h5>
                                <p class="card-text">{{card.text}}</p>
        
                                {% if card.button_page %}
                                <a href="{{card.button_page.url}}" class="btn btn-primary">Read More</a>
                                {% elif card.button_url %}
                                <a href="{{card.button_url.url}}" class="btn btn-primary">Read More</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% for cardlist in self.cards.others %}
                <div class="carousel-item">
                    <div class="cards-wrapper">
                        {% for card in cardlist %}
                        <div class="card">
                            {% image card.image fill-300x200 as img %}
                            <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
        
                            <div class="card-body">
                                <p>{{forloop.counter}}</p>
                                <h5 class="card-title">{{card.title}}</h5>
                                <p class="card-text">{{card.text}}</p>
                                {% if card.button_page %}
                                <a href="{{card.button_page.url}}" class="btn btn-primary">Read More</a>
                                {% elif card.button_url %}
                                <a href="{{card.button_url.url}}" class="btn btn-primary">Read More</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
        
                    </div>
                </div>
                {% endfor %}
            </div>
            `
            flag =true
        }
    
    }
</script>